body {
    margin: 0;
    font-family: sans-serif, "Roboto", arial;
}

a {
    text-decoration: none;
}
/* /////////////////////////////// hif Css ///////////////////////////////*/
/* ////////////////////// Header Css //////////////////////*/
.site-header {
    position: absolute;
    width: 100%;
}

.header-cont {
    display: flex;
    justify-content: space-between;
}

/* ////////////////////// Logo Css //////////////////////*/
.logo {
    background-color: black;
    color: white;
    margin-top: 215px;
    margin-left: -12px;
    padding: 0 25px;
    padding-top: 70px;
    border: 2px solid;
    font-size: 20px;
}

/* ////////////////////// Nav Css //////////////////////*/
.nav,
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 25px;
}

.nav {
    position: relative;
    background-color: #00000078;
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border: 3px solid #ffffffbd;
    font-size: 18px;
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked ~ .menu {
    width: 515px;
}

.menu li {
    list-style: none;
    margin: 0px 15px;
}

.menu li a {
    text-decoration: none;
    color: #ffffff94;
    text-transform: uppercase;
    transition: 0.5s;
}

.menu li a:hover {
    color: #ffffff;
}

.nav input {
    width: 32px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 25px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: #f974a1;
}

.nav span:nth-child(2) {
    background-color: #ffffffbd;
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
    background-color: #ffffffbd;
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

/* ////////////////////// Hero Css //////////////////////*/
.intro-big-cont {
    background-image: url(../assets/hero.jpg);
    object-fit: cover;
    min-height: 875px;
    width: 100%;
}

.intro-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 372px;
    color: white;
}

.intro-txt h3 {
    margin-bottom: 0px;
    font-size: 21px;
}

.intro-txt h1 {
    font-size: 56px;
    line-height: 0;
    font-style: italic;
}

/* ////////////////////// Footer Css //////////////////////*/
.footer {
    background: #1a1a1a;
    color: #fff;
}

.footer-cont1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-cont1 ul {
    list-style: none;
}

.footer-cont1 a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.footer-cont1 a:hover {
    color: white;
}

.footer-cont1-block {
    display: block;
    font-style: italic;
    color: white;
}

.footer-cont2 p {
    padding: 9px 20px 14px;
    margin: 0;
    font-size: 13px;
}
/* /////////////////////////////// Main Css ///////////////////////////////*/
/* ////////////////////// RoomsBtn Css //////////////////////*/
.rooms-btn {
    margin: -60px 448px 0px;
    border: 3px solid white;
    background-color: #1a1a1a;
    border-radius: 10px;
    text-align: center;
    padding: 25px 0;
    cursor: pointer;
}

.rooms-btn a {
    text-decoration: none;
    color: #ffffff94;
    letter-spacing: 5px;
    font-size: 27px;
    font-weight: bold;
}

.rooms-btn a:hover {
    color: white;
}

/* ////////////////////// Checker Css //////////////////////*/
.checker {
    margin: -45px 260px 0px;
    border: 3px solid white;
    border-radius: 10px;
}

.checker-cont {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    padding-left: 15px;
}

.checker-inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    align-content: center;
    padding-bottom: 13px;
    padding-top: 10px;
}

.checker-inputs input {
    width: 100%;
    padding: 11px 5px;
    text-align: center;
    border-radius: 10px;
    margin-top: 12px;
}

.checker .search {
    width: 20%;
    padding: 20px;
    margin-top: 18px;
}

.checker .search input {
    font-size: 19px;
    border: 1px solid white;
    margin-left: 6px;
    cursor: pointer;
}

.checker .search a {
    font-size: 19px;
    text-decoration: none;
    margin-left: 6px;
    cursor: pointer;
    text-decoration: none;
}
.checker .search a:hover {
    color: white;
}

/* ////////////////////// Welcome Css //////////////////////*/
.welcome {
    display: flex;
    padding-top: 50px;
    align-items: center;
    margin: 0 7%;
}

.welcome-txts-cont {
    padding-right: 70px;
}

.welcome-txt1 {
    font-size: 40px;
}

.welcome-imgs-cont {
    position: relative;
}

.welcome-img1 {
    height: 450px;
    width: 725px;

    margin-top: 35px;
}

.welcome-img2 {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 10px solid white;
    position: absolute;
    right: 74%;
    top: 70%;
}

/* ////////////////////// Features Css //////////////////////*/
.features {
    display: flex;
    align-items: center;
    margin: 17% 11% 11%;
}

.features-cont {
    text-align: center;
    margin: 0 35px;
    padding: 0 25px;
}

.features-cont img {
    width: 125px;
    height: 125px;
}

.features-cont p {
    font-size: 24px;
}

/* ////////////////////// MainCarousel Css //////////////////////*/
.RoomsPhotos {
    position: relative;
    background-color: #1a1a1a;
}

.left-arrow {
    position: absolute;
    top: 63%;
    transform: translate(0, -50%);
    left: 65px;
    font-size: 45px;
    color: white;
    z-index: 1;
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    top: 63%;
    transform: translate(0, -50%);
    right: 65px;
    font-size: 45px;
    color: white;
    z-index: 1;
    cursor: pointer;
}

.rooms-dots {
    display: flex;
    justify-content: center;
}

.dots {
    margin: 0px 8px;
    margin-top: -100px;
    cursor: pointer;
    color: white;
    font-size: 40px;
}

.rooms-photos {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.photo {
    width: 800px;
    height: 500px;
    object-fit: cover;
}

.rooms-txt {
    color: white;
    padding-top: 60px;
    text-align: center;
    margin: 0 140px;
}

.rooms-txt h2 {
    font-size: 40px;
}

/* ////////////////////// Restaurant Css //////////////////////*/
.restaurant {
    display: flex;
    margin: 90px 7%;
}

.restaurant-left-cont {
    min-width: 700px;
}

.restaurant-left-cont img {
    height: 600px;
    width: 650px;
    object-fit: cover;
}

.restaurant-right-cont {
    margin: 65px 35px;
    line-height: 30px;
}

.restaurant-right-cont h2 {
    font-size: 36px;
}

.restaurant-tabs {
    margin-top: 35px;
    line-height: 25px;
}

.restaurant-tabs h3 {
    cursor: pointer;
}

.restaurant-tabs p {
    box-shadow: 0 13px 43px 0 rgb(0 0 0 / 27%);
    padding: 15px 25px;
    margin-bottom: 35px;
}

/* ////////////////////// Pool Css //////////////////////*/
.pool {
    background-image: url("../assets/pool.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    position: relative;
    margin: 18% 0 10%;
}

.pool-text {
    background: #1a1a1a;
    padding: 10% 45px 0;
    width: 22%;
    height: 440px;
    position: absolute;
    top: -13%;
    color: white;
    left: 50%;
}

.pool-text h2 {
    font-size: 32px;
}
.pool-text p {
    margin: 50px 0 0;
}

/* /////////////////////////////// Rooms Css ///////////////////////////////*/
/* ////////////////////// SearchRooms Css //////////////////////*/
.search-rooms {
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: -60px 34% 0;
    padding: 34px 0;
    font-size: 18px;
    border-radius: 10px;
    border: 3px solid white;
}

.rooms-form-select select {
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 15px;
}

.rooms-form-input {
    margin-bottom: -10px;
}

.rooms-form-input input {
    margin-top: -10px;
    margin-bottom: 1px;
}

.rooms-form-checkbox {
    display: inline-flex;
    align-items: flex-end;
    margin-top: 25px;
}

/* ////////////////////// RoomsList Css //////////////////////*/
.rooms-list {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    margin: 59px 120px;
}

.room-list-img-cont {
    display: inline-block; /* shrink wrap to image */
    overflow: hidden; /* hide the excess */
}

.room-list-img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.3s ease-in-out;
}

.room-list-img:hover {
    transform: scale(1.3);
}

.room-list-cont {
    position: relative;
}

.room-list-price {
    position: absolute;
    right: 0px;
    top: 20%;
    font-size: 26px;
    color: white;
    background-color: #00000075;
    padding: 11px 29px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.room-list-name {
    text-align: center;
    color: #ffffff94;
    background-color: black;
    padding: 3px 0;
    margin: -10px 0 60px;
    cursor: pointer;
}

.room-list-name p {
    font-size: 23px;
    margin-bottom: -10px;
}

.room-list-name:hover {
    color: white;
}

.room-list-err {
    text-align: center;
    font-size: 25px;
    margin: 80px 0;
}

/* /////////////////////////////// Contact Css ///////////////////////////////*/
/* ////////////////////// contact Css //////////////////////*/

.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 150px 100px 130px;
}

.contact-form {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 50px 45px;
    color: #1a1a1a;
}

.contact-form-info {
    display: flex;
}
.contact-form p {
    font-size: 30px;
}

.contact-form input {
    background: white;
    border: none;
    outline: none;
    border-bottom: solid 2px #393939;
    color: #1a1a1a;
}

.contact-form textarea {
    background: white;
    border: none;
    outline: none;
    border-bottom: solid 2px #393939;
    color: #393939;
    width: 358px;
    height: 99px;
}

.contact-form-info-last {
    margin-left: 29px;
}

.contact-form-subject {
    margin: 15px 0;
}

.contact-form-btn input {
    margin-top: 31px;
    width: 100px;
    height: 46px;
    background: #1a1a1a;
    cursor: pointer;
    font-size: 14px;
    color: white;
}

.contact-address {
    width: 280px;
    font-size: 20px;
}

.contact-address span {
    display: block;
}

.contact-address span:nth-child(odd) {
    margin-bottom: 10px;
    font-size: 18px;
}

.contact-address span:nth-child(even) {
    font-size: 24px;
}

.contact-map {
    display: flex;
    margin-bottom: 90px;
    justify-content: center;
}

/* /////////////////////////////// AboutUs Css ///////////////////////////////*/
/* ////////////////////// AboutUsTxt Css //////////////////////*/
.aboutus-txt {
    text-align: center;
    margin: 100px 100px 130px;
}

.aboutus-txt h2 {
    font-size: 40px;
    margin-top: 80px;
}

.aboutus-txt p {
    margin: 45px 115px;
}

.aboutus-txt-last {
    display: flex;
}

/* ////////////////////// AboutUsVid Css //////////////////////*/
.aboutus-vid {
    background-image: url(../assets/video.jpg);
    position: relative;
    background-size: cover;
    min-height: 550px;
    width: 100%;
    margin-bottom: 100px;
}

.aboutus-vid-btn {
    display: flex;
    position: absolute;
    top: 40%;
    left: 7%;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    font-size: 35px;
    align-items: center;
}

.aboutus-vid-btn-sml {
    width: 125px;
    margin-left: 25px;
}

/* ////////////////////// AboutUsStaff Css //////////////////////*/
.aboutus-staff-txt {
    text-align: center;
    margin: 100px 100px 50px;
}

.aboutus-staff-txt h2 {
    font-size: 40px;
    margin-top: 80px;
}

.aboutus-staff-txt p {
    margin: 45px 115px;
}

.aboutus-staff-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 150px;
}

.aboutus-staff-cards-cont {
    margin: 45px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    text-align: center;
    max-width: 300px;
}

.aboutus-staff-cards img {
    width: 300px;
    height: 260px;
    object-fit: cover;
}

.aboutus-staff-cards span {
    background-color: #1a1a1a;
    color: white;
    padding: 9px 25px;
}

.aboutus-staff-cards p {
    font-size: 20px;
}

/*  */

.oneroom-name {
    font-size: 36px;
    text-align: center;
    margin: 125px 0px 60px;
}

.oneroom-mainImg {
    display: flex;
    justify-content: center;
}

.oneroom-mainImg img {
    width: 800px;
    height: 530px;
    object-fit: cover;
    margin-bottom: 40px;
}

.oneroom-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 0 300px;
    text-align: center;
}

.oneroom-info h6 {
    font-size: 14px;
    margin-bottom: 5px;
}

.oneroom-info h4 {
    font-size: 19px;
    margin-bottom: 5px;
}

.oneroom-info-mid {
    border-left: 2px solid darkgray;
    border-right: 2px solid darkgray;
    padding: 0 90px;
    height: 140px;
}

.oneroom-desc {
    display: flex;
    margin: 54px 350px 130px;
    text-align: center;
}

.oneroom-others-flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.oneroom-others-big img {
    width: 400px;
    height: 600px;
    margin: 15px;
}

.oneroom-others-flex2 {
    display: flex;
    flex-direction: column;
}

.oneroom-others-sml img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 15px;
}
