body {
    margin: 0;
}

/* ////////////////////// Intro Css //////////////////////*/

.intro-big-cont {
    background-image: url(../public/hotel2.jpg);
    background-size: cover;
    min-height: 750px;
    width: 100%;
}

.intro-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 372px;
    color: white;
}

.intro-txt h3 {
    margin-bottom: 0px;
    font-size: 21px;
}

.intro-txt h1 {
    font-size: 56px;
    line-height: 0;
    font-style: italic;
}
/* ////////////////////// Header Css //////////////////////*/

.site-header {
    position: fixed;
    width: 100%;
}

.header-cont {
    display: flex;
    justify-content: space-between;
}

/* ////////////////////// Logo Css //////////////////////*/

.logo {
    background-color: black;
    color: white;
    margin-top: 215px;
    padding: 0 25px;
    padding-top: 70px;
    border: 2px solid;
    font-size: 20px;
}

/* ////////////////////// Nav Css //////////////////////*/

.nav,
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 25px;
}

.nav {
    position: relative;
    background-color: #00000078;
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border: 5px solid #ffffffbd;
    font-size: 18px;
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked ~ .menu {
    width: 515px;
}

.menu li {
    list-style: none;
    margin: 0px 15px;
}

.menu li a {
    text-decoration: none;
    color: #ffffff94;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: #ffffff;
}

.nav input {
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 25px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: #f974a1;
}

.nav span:nth-child(2) {
    background-color: #ffffffbd;
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
    background-color: #ffffffbd;
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}
